.breadCrumbs {
    max-width: $article;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    ul {
        @include listrest(0, 0, none);
        font-size: 0;
        li {
            display: inline-block;
            color: $gray-600;
            font-size: 1rem;
            a {
                display: inline-block;
                color: $gray-600;
                &:hover {
                    color: $primary;
                }
            }
            +li {
                margin-left: 5px;
                &::before {
                    @include beforeafter('>', inline-block);
                }
                a {
                    margin-left: 5px;
                }
            }
        }
    }
}