// @import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,200,300,400,500|Playfair+Display:700|Roboto:300,400,500&display=swap');
body {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: Arial, "微軟正黑體", "繁黑體", 'Microsoft JhengHei', 'Microsoft YaHei', 'Heiti TC', 'LiHei Pro', sans-serif, "新細明體", PMingLiU;
    // font-family: 'Roboto', 'Noto Sans TC', Arial, "微軟正黑體", "繁黑體", 'Microsoft JhengHei', 'Microsoft YaHei', 'Heiti TC', 'LiHei Pro', sans-serif, "新細明體", PMingLiU;
    line-height: 1.5;
    background-color: $gray-bg;
    @include breakpoint(768px) {
        min-width: 960px;
    }
}

* {
    @include box-sizing(border-box);
    &::before,
    &::after {
        @include box-sizing(border-box);
    }
}

a {
    text-decoration: none;
    @include transition(color 0.3s, background 0.3s, border 0.3s);
}

img {
    display: block;
    // width: 100%;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
}

.sr-only {
    position: absolute!important;
    padding: 0!important;
    margin: 0!important;
    width: 0!important;
    height: 0!important;
    font-size: 0!important;
}

#fb-root {
    font-size: 0;
}

@mixin listrest($margin, $padding, $style) {
    margin: $margin;
    padding: $padding;
    list-style: $style;
}

@mixin beforeafter($content, $display) {
    content: $content;
    display: $display;
}

@mixin lineclamp($line) {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
}

@mixin imghover() {
    &::before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        @include beforeafter('', block);
        background-color: rgba($black, 0.5);
        background-image: -webkit-radial-gradient(center center, closest-side ellipse, rgba(255, 255, 255, .1) 30%, rgba(0, 0, 0, .4) 130%);
        @include opacity(0);
        @include transition(opacity 0.3s);
    }
}